<div class="ng-footer">
	<div class="container footer-container">
	  	<div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-sm-12 footer-details" >
	  		<div class="footer-brand">
	  			<h2>SocialCops</h2>
	  		</div>

	  		<div class="footer-social">
	  			<a href="#"><i class="fa fa-facebook"></i></a>
	  			<a href="#"><i class="fa fa-twitter"></i></a>
	  			<a href="#"><i class="fa fa-pinterest"></i></a>
	  		</div>

	  		<div class="footer-info">
	  			<h6 class="footer-title-md">ADDRESS</h6>
	  			<p>3rd Floor, Khasra No 261, Near Zen, Lane No 5, Westend Marg, Saidulajab, Saket, New Delhi,110030</p>
	  		</div>

	  		<div class="footer-info">
	  			<h6 class="footer-title-md">CONTACT</h6>
	  			<p>+91-9876543210</p>
	  		</div>
	  	</div>

	  	<div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-sm-12 footer-links">
	  		<br>
	  		<div class="footer-cta-anchor">
	  			<a href="#">Search for Data</a>
	  		</div>

	  		<div class="footer-cta-anchor">
	  			<a href="#">Search for Meta Data</a>
	  		</div>

	  		<div class="footer-cta-anchor">
	  			<a href="#">Search for Sachin Data</a>
	  		</div>
	  	</div>

	  	<div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-sm-12 footer-sitemap">
	  		<br>
	  		<div class="footer-cta-anchor">
	  			<a href="#">About Us</a>
	  		</div>
	  		<div class="footer-cta-anchor">
	  			<a href="#">Blog</a>
	  		</div>
	  		<div class="footer-cta-anchor">
	  			<a href="#">Careers</a>
	  		</div>
	  		<div class="footer-cta-anchor">
	  			<a href="#">Press</a>
	  		</div>
	  		<div class="footer-cta-anchor">
	  			<a href="#">Contact Us</a>
	  		</div>

	  	</div>


	</div>


</div>
