<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Sachin Ramesh Tendulkar</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="container">
          <div class="col-md-3 sachin-img">
            <img src="assets/img/sachin.jpg" alt="Saching Profile Image" class="img-responsive"/>
          </div>
          <div class="col-md-3 panel-detail-tile">
            <b>Born: </b> <span>April 24, 1973, Bombay (now Mumbai), Maharashtra</span>
          </div>
          <div class="col-md-3 panel-detail-tile">
            <b>Age: </b> <span> 43 years</span>
          </div>
          <div class="col-md-3 panel-detail-tile">
            <b>Nickname: </b> <span>Master Blaster, Little Master, Sachin</span>
          </div>
          <div class="col-md-3 panel-detail-tile">
            <b>Batting Order: </b> <span>Top-order batsman</span>
          </div>
          <div class="col-md-3 panel-detail-tile">
            <b>Batting Style: </b> <span>Right-hand Bat</span>
          </div>
          <div class="col-md-3 panel-detail-tile">
            <b>Bowling Style: </b> <span> Right-arm offbreak, Legbreak googly</span>
          </div>
          <div class="col-md-3 panel-detail-tile">
            <b>Height: </b> <span>5'5</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="row-fluid text-center">
  <div class="container jumbotron _jumbotron " ng-init="vm.fetchTotal()">
    <h1>Career Stats</h1>
    <div class="col-sm-2" ng-repeat="(key, total) in vm.total">
      <h3>{{key}}</h3>
      <h2>{{total}}</h2>
    </div>
  </div>
</div>
