.table {
  width:100%;
  white-space: nowrap;
}
.nameCol {
  width:100%;
}
.table td {
  padding: 0 5px;
}

._jumbotron{
  background-color: #fff;
}

.sachin-img {
  width: 16%;

  img {
    border-radius: 1rem;
  }
}

.panel-detail-tile{
  padding: 1rem;
}
